DEBUG=True

POSTGRES_DB=taskmanager_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

JWT_SECRET_KEY=your_jwt_secret_key_has_to_be_32
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=60

LOG_LEVEL=INFO

ALLOWED_HOSTS=localhost,127.0.0.1